[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos
[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
ExecStart=/etc/kubernetes/bin/etcd \
  --data-dir=/var/lib/etcd \
  --name={{ salt['config.get']('NAME') }}\
  --cert-file=/etc/kubernetes/cert/etcd.pem \
  --key-file=/etc/kubernetes/cert/etcd-key.pem \
  --trusted-ca-file=/etc/kubernetes/cert/ca.pem \
  --peer-cert-file=/etc/kubernetes/cert/etcd.pem \
  --peer-key-file=/etc/kubernetes/cert/etcd-key.pem \
  --peer-trusted-ca-file=/etc/kubernetes/cert/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --listen-peer-urls=https://{{ salt['config.get']('IP') }}:2380 \
  --initial-advertise-peer-urls=https://{{ salt['config.get']('IP') }}:2380 \
  --listen-client-urls=https://{{ salt['config.get']('IP') }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls=https://{{ salt['config.get']('IP') }}:2379 \
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster={{ salt['config.get']('k8s-common-config:etcd:nodes') }} \
  --initial-cluster-state=new
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
[Install]
WantedBy=multi-user.target
